body {
  margin: 0;
  overflow: hidden;
  background: white;
  font-family: sans-serif;
}

#gameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  touch-action: none; /* スマホでスクロール防止 */
  cursor: none;
}

#playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5vw;
  padding: 3vw 6vw;
  cursor: pointer;
  z-index: 10;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10vw;
  color: black;
  z-index: 10;
}

#ufo {
  font-size: 8vw;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.bomb {
  font-size: 8vw;
  position: absolute;
  z-index: 1;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 5vw;
}

#gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 8vw;
  z-index: 10;
}

.hidden {
  display: none;
}