body {
  margin: 0;
  overflow: hidden;
  background: white;
  font-family: sans-serif;
}

#gameArea {
  position: relative;
  width: 100vw;
  height: 100vh;
  cursor: none;
}

#playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  padding: 20px 40px;
  cursor: pointer;
  z-index: 10;
}

#countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60px;
  color: black;
  z-index: 10;
}

#ufo {
  font-size: 40px;
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

.bomb {
  font-size: 40px;
  position: absolute;
  z-index: 1;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  color: black;
  font-size: 20px;
}

#gameOver {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
  font-size: 40px;
  z-index: 10;
}

.hidden {
  display: none;
}
